<!doctype html>
<html lang="en">
  <head>
    {% block page_title %}<title>Flask-FlatEarth | Example Site</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block page_description %}<meta name="description" content="And example for flask_flatearth using a bootstrap template">{% endblock %}
{% block page_author %}{% if meta['author'] is defined %}{% for author in meta['author'] %}{% if authors[author] %}{% set a = authors[author]["author-long"] if authors[author]["author-long"] else authors[author]["author"] %}    <meta name="author" content="{{a}}">{% endif %}{% endfor %}
{% endif %}{% endblock %}    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <header style="padding-bottom:4em;">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}" alt="rm-rf.info home page" title="Home">Flask-FlatEarth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="top-navbar" class="navbar-collapse collapse navbar-right">
          <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('articles') }}" alt="Listing of articles" title="Explore by article name">Articles</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('authors') }}" alt="Listing of authors" title="Explore authors">Authors</a></li>{% if topics %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('topics') }}" alt="Listing of topics" title="Explore by topic">Topics</a></li>{% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <section class="container">
{% block body_content %}{% endblock %}
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
